<div class="container">
  <div class="row">
    <div class="col-md-8"> 
      <div class="card">
        <h6 class="card-header h6">Roles</h6>
        <div class="card-body">
          <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            <% @users.each do |user| %>
                <tr>
                <td><%= user.name %></td>
                <%= form_for user do |f|%>
                <td><%= f.select :user_role_id, @roles.collect {|role| [role.name,role.id]},{} , {class:'form-control'}%></td>
                <td><%= f.submit class: "btn btn-info" %>
                 <% end %>
                <%= link_to 'Destroy', user, method: :delete,
                    data: { confirm: 'Are you sure you want to delete?' },  class: "btn btn-danger" %></td>
                </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h6 class="card-header h6">Add New User</h6>
        <div class="card-body">
          <%= form_for @user do |f|%>
          <%= f.label :name %>
          <%= f.text_field :name, placeholder:"Full Name", class: "form-control" %><br>
          <%= f.label :email %>
          <%= f.email_field :email, placeholder:"Email", class: "form-control" %><br>
          <%= f.label :joiningdate %>
          <%= f.text_field :joindate, placeholder:"Joining Date", class: "form-control" %><br>
          <%= f.label :password %>
          <%= f.password_field :password, placeholder:"Password", class: "form-control" %><br>
          <%= f.label :confirmationpassword %>
          <%= f.password_field :confirmpassword, placeholder:"Confirmation Password", class: "form-control" %><br>
          
          <%= f.submit "Submit",class: "btn btn-success"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>