<!DOCTYPE html>
<html>
  <head>
    <title>TechloginSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-expand-sm bg-light for-bgcolor-after-login-menu">

  <!-- Links -->
  <ul class="navbar-nav font-hover-menu">

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle for-a-tag-in-menu" href="#" id="navbardrop" data-toggle="dropdown">
        Project
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">View Task</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle for-a-tag-in-menu" href="#" id="navbardrop" data-toggle="dropdown">
        Reports
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Daily Report</a>
        <a class="dropdown-item" href="#">Monthly Report</a>
        <a class="dropdown-item" href="#">Monthly Detail Report</a>
        <a class="dropdown-item" href="#">Employee Current Status</a>
        <a class="dropdown-item" href="#">EOD Accuracy</a>
        <a class="dropdown-item" href="#">EOD Rating</a>
        <a class="dropdown-item" href="#">Working Task</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle for-a-tag-in-menu" href="#" id="navbardrop" data-toggle="dropdown">
        EOD
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">View EOD Report</a>
      </div>
    </li>


    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle for-a-tag-in-menu" href="#" id="navbardrop" data-toggle="dropdown">
        Quick Action
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Leave Chair</a>
        <a class="dropdown-item" href="#">Celebration Time</a>
        <a class="dropdown-item" href="#">Phone Call</a>
        <a class="dropdown-item" href="#">Team Meeting</a>
        <a class="dropdown-item" href="#">Meal</a>
        <a class="dropdown-item" href="#">Tea Break</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle for-a-tag-in-menu" href="#" id="navbardrop" data-toggle="dropdown">
        Resources
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><%= link_to 'User List', users_path %></a>
        <a class="dropdown-item" href="#">Project List</a>
        <a class="dropdown-item" href="#"><%= link_to 'User Role', user_roles_path %></a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle for-a-tag-in-menu" href="#" id="navbardrop" data-toggle="dropdown">
        Setting
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Project Type</a>
        <a class="dropdown-item" href="#">Project Role</a>
        <a class="dropdown-item" href="#">Task Type</a>
      </div>
    </li>


    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle for-a-tag-in-menu" href="#" id="navbardrop" data-toggle="dropdown">
        Sales
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>


    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle for-a-tag-in-menu" href="#" id="navbardrop" data-toggle="dropdown">
        <%= current_user.name %>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">My Profile</a>
        <a class="dropdown-item" href="#">Holiday</a>
        <a class="dropdown-item" href="#">Leaves</a>
        <%= link_to "Logout", destroy_user_session_path, method: :delete,class: 'dropdown-item' %>
      </div>
    </li>

    

  </ul>

</nav>


    <% else %>
    <div class="forbgcolorlogin">
			<div class="container">
				<div class="navbar-header">
  				<a class="navbar-brand upcase" style="color:white;" href="/">Tech Login</a>
        
          </div>
			</div>
    </div>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
